/*
Eton Blue: #7DCCAB
Ocean Green: #73BB9E
Tan: #D8C39B
Charleston Green: #1E252A 
light off green: #9DBFAF
Blush: #E6537F
Tea Green: ECFEC0
*/



/*universals*/
body {
    padding: 0;
    margin: 0;
    
}

html, body, main, #mapid {
    height: 100%;
    width: 100vw;
}



/*search bar*/
.selectCountry {
    width: 100%;
    text-align: center;
}

.searchBox {
    width: 70%;
    position: relative;
    display: flex;
  }

.searchTerm {
    width: 100%;
    border: 1px solid #7DCCAB;
    border-right: none;
    padding: 5px;
    border-radius: 8px 0 0 8px;
    outline: none;
    color: #9DBFAF;
    box-shadow: 3px 3px 3px #1E252A;  
  }

.searchTerm:focus{
    color: #7DCCAB;
  }

.searchBtn {
    width: 40px;
    height: 45px;
    border: 1px solid #7DCCAB;
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
    text-align: center;
    color: #fff;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 3px 3px #1E252A;
  }




/*map*/
#mapid {
    position: fixed;
}



/*modal*/

.iconCard img {
    width: 90px;
}

.modalSection span {
    color: #bec4c1;  
}

.modalSection h5{
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
}

.modalSection p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;   
}

.modal-content {
    border-radius: 12px 12px 12px 12px!important;
}

/*modal data header cards */


.myWeatherHeaderCard, 
.myPopulationHeaderCard,
.myCurrencyHeaderCard, 
.myCard,
.myHeaderCard {
    border-radius: 8px 8px 8px 8px!important;
}

.myWeatherHeaderCard {   
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
}

.myPopulationHeaderCard {
    background-image: linear-gradient(90deg, rgba(227, 253, 113, 0.5), rgb(248, 244, 1)) 
}

.myCurrencyHeaderCard { 
    background-image: linear-gradient(90deg, rgb(246,206,236, 0.5), rgb(217,57,205, 0.5));  
}

/* modal data cards*/
.myCard{ 
    background-image: linear-gradient(150deg, rgba(243, 243, 243, 0.5), rgba(238, 238, 238, 0.5) ); 
}

.iconCard {
    width: 92px;
}

.myBtn {
    color: #1E252A ;
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
}


/*icons*/
ion-icon {
    font-size: 17px;
    margin-top: 5px;
    color: #1E252A;
}

.searchBox button ion-icon {
    position: relative;
    font-size: 25px;
}


