/*--COLOURS--*/
/*
Eton Blue: #7DCCAB
Ocean Green: #73BB9E
Tan: #D8C39B
Charleston Green: #1E252A 
light off green: #9DBFAF
Blush: #E6537F
Tea Green: ECFEC0
*/



/*--UNIVERSAL--*/
body {
    padding: 0;
    margin: 0;
}

html, body, main, #mapid {
    height: 100%;
    width: 100vw;
}



/*--SEARCH BAR--*/
.selectCountry {
    width: 100%;
    text-align: center;
}

.searchBox {
    width: 100%;
    position: relative;
    display: flex;
  }

.searchTerm {
    width: 100%;
    border: 1px solid #7DCCAB;
    border-right: none;
    padding: 5px;
    box-shadow: 3px 3px 3px #b3b4b6;
    border-radius: 12px 0 0 12px;
    outline: none;
    color: #9DBFAF;
  }

.searchTerm:focus{
    color: #7DCCAB;
  }

.searchBtn {
    width: 40px;
    height: 45px;
    border: 1px solid #7DCCAB;
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
    text-align: center;
    color: #fff;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 3px 3px #b3b4b6;
  }

  /*buttons*/
  
 
.btnPill {
    background-color: #ddd;
    border: 1px solid #7DCCAB;
    color: black;
    background-color: white;
    padding: 2px 8px 2px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 3px 3px 3px #b3b4b6;   
  }



/*--MAP--*/
#mapid {
    position: fixed;
}



/*--MODAL--*/

.frostedGlass {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(0,0,0, .2);
    position: relative;
    overflow: hidden;
    background-image: url(img/clouds.png);
    background-attachment: fixed;
    z-index: 1;

}


.frostedGlass::before {
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    z-index: -1;  
}

.frostedGlass {
    height: auto;
    width: auto;
    border-radius: 5px 5px 12px 12px;
}

.frostedGlassCenterPiece {
    border-radius: 5px 5px; 
}
.modalStyles {
    background-image: url(img/clouds.png);   
    background-attachment: fixed;
    border-radius: 12px 12px;

}

.weatherPanels, p, h1, figcaption {
    color: whitesmoke;
}

.weatherPanels .mainData {
    color: #7DCCAB;
}
.countryInfoPanels .mainData {
    color:  whitesmoke;
}

.countryInfoPanels p {
    color: whitesmoke;
}

.currencyPanels .mainData {
    color: whitesmoke;
} 
.modalSection span {
    color: #7e7e7e;  
}

.modalSection h5{
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
}


.modal-content, 
.weatherIconCard {
    border-radius: 12px 12px 12px 12px!important;
}

/*modal data header cards */


.myWeatherHeaderCard, 
.myCountryInfoHeaderCard,
.myCurrencyHeaderCard, 
.myCard,
.myHeaderCard {
    border-radius: 12px 12px 0 0!important;
}

.myWeatherHeaderCard,
.myCountryInfoHeaderCard,
.myCurrencyHeaderCard  {   
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
}


/* modal data content cards*/


.myCard, .myCard img{ 
    border-radius: 0 0 12px 12px!important;   
}



.myBtn {
    color: #1E252A ;
    background-image: linear-gradient(90deg, rgb(129,251,184, 0.5), rgb(125,204,171, 0.5));  
}


/*icon cards*/

.countryInfoIconCard, .countryInfoIconCard img {
    height: 110px;
    width: 110px;
}

/*icon cards content*/
.iconCard img {
    width: 90px;
}

.card-img-overlay, figcaption, h1, h6 {
    color: #f8fffc;
}

.countryInfoIconCard, .countryInfoIconCard img {
     border-radius: 12px 12px 12px 12px!important;
}

.countryInfoIconCard figcaption {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #1E252A;   
}


/*--ICONS--*/
ion-icon {
    font-size: 15px;
    margin-top: 5px;
    color: #1E252A;
}

.searchBox button ion-icon {
    position: relative;
    font-size: 25px;
}

/*leaflet easy button styles*/

.leaflet-bar {
    border: 1px solid #7DCCAB!important;
    border-radius: 8px 8px!important;   
}

.leaflet-control-zoom-in, 
.leaflet-control-zoom-out {
    box-shadow: 2px 2px 2px #b3b4b6;
}

.leaflet-control-zoom-in {
    border-radius: 8px 8px 0 0!important;
}
.leaflet-control-zoom-out {
    border-radius: 0 0 8px  8px!important;
}

.leaflet-top, .leaflet-left {
    margin-top: 290px;
    
}

